body {
    background-color: #171717;
    color: #999;
    font-size: 1.2em;
    -webkit-text-size-adjust: 100%;
}
.content {
    border: .5em;
    border-style: double;
    padding: 1em;
    margin-bottom: 1em;
}
.content span {
    color: #6C798D;
}
header.content {
    background-position: center top;
    padding: 10px;
}
div .content {
    background-image: url(debian.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

header pre {
    overflow: hidden;
    margin: 0px;
    padding: 1px;
    font-size: 10px;
}

nav {
    margin: 0px;
    padding: 0px;
}
nav fieldset {
    border: 0;
    margin: 0;
    height: 0;
    border-top: 2px dashed;
}
nav fieldset legend {
    text-align: center;
}
nav fieldset:hover {
    height: auto;
    border: 2px dashed;
}
nav fieldset:hover ul#menu {
    display: block;
    margin: 0;
}
#menu {
    display: none;
    list-style-type: none;
    padding: 0px;
}
ul#menu li {
    padding: 5px;
    border-top: 2px dashed;
}
ul#menu li:first-child {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.5em 0;
}
p {
    margin: 1em 0;
}

a {
    text-decoration: none;
}
a:link, a:visited, a.current:hover, a.current:active {
    color: #CFCFCF;
}
a:hover, a:active, a.current {
    color: #616161;
}
.erreur {
    color: #FD8A8A;
}
